@use "variables" as *;

.last-news {
  padding-top: $spacing-md;
  padding-bottom: $spacing-lg;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    color: $color-black;
  }

  &__title-link {
    color: $color-orange;
    font-weight: 500;
  }

  &__cards {
    padding-top: $spacing-md;
    display: flex;
    flex-direction: row;
    gap: $spacing-lg;
    justify-content: center;

    sm-card {
      flex: 1; // Карточки растягиваются равномерно
      min-width: 280px; // Минимальная ширина для читаемости
      max-width: 400px; // Максимальная ширина для красоты
      display: flex;
      flex-direction: column;
      height: 100%; // Занимают всю высоту контейнера
    }
  }
}
