@use "variables" as *;

.last-updates {
  padding-top: $spacing-md;
  padding-bottom: 64px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    color: $color-black;
  }

  &__title-link {
    color: $color-orange;
    font-weight: 500;
  }

  &__cards {
    padding-top: $spacing-md;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-lg;
    justify-content: center;

    // Стили для карточек в flex раскладке
    sm-card {
      flex: 1;
      min-width: 280px;
      max-width: 400px;
      height: 380px; // Фиксированная высота всей карточки
    }
  }
}
