@use "variables" as *;

body {
  color: $color-black;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.owl-stage {
  display: flex !important;
}

