<section class="greetings">
  <div class="greetings__contaner container">
    <sm-greetings></sm-greetings>
  </div>
</section>

<section class="info">
  <div class="info__contaner container">
    <sm-info></sm-info>
  </div>
</section>

<section class="last-news">
  <div class="last-news__container container">
    <sm-last-news [newsList]="lastNews()"></sm-last-news>
  </div>
</section>

<section class="last-updates">
  <div class="last-updates__container container">
    <sm-last-updates [newsList]="lastUpdates()"></sm-last-updates>
  </div>
</section>
