<div class="greetings">
  <div class="greetings__block-wrapper">
    <div class="greetings__block-info">
      <h1 class="greetings__title">Добро пожаловать на портал <span class="greetings__subtitle">SMITE 2!</span></h1>
      <h2 class="greetings__text">Главный информационный центр по всему, что связано со SMITE 2. Будьте в курсе
        последних новостей о игре, обновлениях и примечаниях к патчам</h2>
      <div class="greetings__actions">
        <sm-button
          typeBtn="primary"
          size="md">
          Последние обновления
        </sm-button>
        <sm-button
          typeBtn="secondary"
          size="md">
          Последние новости
        </sm-button>
      </div>
    </div>
    <div class="greetings__block-images">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="/images/slide1.jpg" alt="Изображение"></ng-template>
        <ng-template carouselSlide><img src="/images/slide2.jpg" alt="Изображение"></ng-template>
        <ng-template carouselSlide><img src="/images/slide3.jpg" alt="Изображение"></ng-template>
        <ng-template carouselSlide><img src="/images/slide4.jpg" alt="Изображение"></ng-template>
        <ng-template carouselSlide><img src="/images/slide5.jpg" alt="Изображение"></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
