@use "variables" as *;

.greetings {
  padding: $spacing-lg 0;

  &__block--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-orange-extra-light;
    background: linear-gradient(140deg, $color-white 0%, lighten($color-orange-extra-light, 20%) 20%, $color-orange-extra-light 100%);
    border-radius: 16px;
    padding: $spacing-lg;
  }

  &__block--info {
    max-width: 615px;
  }

  &__block--img {
    width: 512px;
    border-radius: 12px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    max-width: 670px;
    margin-bottom: $spacing-md;

    .greetings__subtitle {
      color: $color-orange;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: $color-text-tertiary;
  }
}

