@use "variables" as *;

.info {
  display: flex;
  gap: 24px;
  margin: $spacing-lg 0;

  &__card {
    width: 485px;
    border: 1px solid $color-gray;
    border-radius: 12px;
    text-align: center;
    padding: $spacing-lg;
    background-color: $color-dark-extra-light;
  }

  &__card-title {
    color: $color-orange;
    font-size: 30px;
    font-weight: 700;
  }

  &__card-subtitle {
    font-weight: 500;
    font-size: 16px;
    color: $color-text-quaternary;
  }

  &__card-desc {
    font-size: 14px;
    font-weight: 400;
    color: $color-text-quinary;
  }
}

