<a [routerLink]="'/'" class="card">
  @for (news of lastNews; track news.title) {
    <div class="card__wrapper">
      <div class="card__images">
        <img class="card__images-img" [src]="news.images" [alt]="news.title" loading="lazy">
        <div class="card__tag">
          <sm-tag>{{ news.tag }}</sm-tag>
        </div>
      </div>
      <div class="card__text">
        <h3 class="card__title">{{ news.title }}</h3>
        <p class="card__desc hr">{{ news.desc }}</p>
        <div class="card__date">{{ news.date }}</div>
      </div>
    </div>
  }
</a>
